body {
    margin: 0px;
    font-family: 'segoe ui';
    font-family: 'Oswald', sans-serif;
    background-color: white;
    height: 5px;
}
.nav {
    height: 55px;
    width: 100%;
    background-color: #4d4d4d;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }

   
h1{
    text-align: center;
    font-size: 900%;
    font-family: 'Courier New', Courier, monospace;
}
.angebot{
    background-color: #efefef;
    width: 50%;
    margin-left: 25vw;
    margin-top: 0%;
    border-radius: 12.5px;
    box-shadow: 7px 7px 5px gray;
    font-size: 125%;
}
.gallerie {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 5px;
    margin-left: 5vw;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  display: flex;
  background-color:#EDF2F8;
  height: 50px;
  margin-left: -6%;
  margin-top: 0%;
}

.gallery img {
  margin-top: 0%;
  margin-bottom: 0%;
  cursor: pointer;
  width: 50%;
  max-height: 50px;
  border-radius: 10px;
}


#lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
}

#lightbox img {
  max-width: 100%;
  max-height: 60vh;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
border-radius: 10px;
}

#close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  z-index: 2;
}


#prev-btn,
#next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#prev-btn {
  left: 10px;
}

#next-btn {
  right: 10px;
}

#prev-btn:hover,
#next-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Styles for thumbnails */
.thumbnail-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.thumbnail {
  max-width: 50px;
  width: 100px;
  cursor: pointer;
  margin-top: 40px;
  margin-left: 5px;
  margin-right: 5px;
  border: 2px solid #fff;
  transition: opacity 0.3s;
}

.thumbnail:hover,
.thumbnail.active-thumbnail {
  opacity: 0.7;
}
.h2{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 350%;
  background-color: #EDF2F8;
  margin-bottom: -3%;
}
@media(max-width: 1000px)
{
  .innerdiv
  {
    transform: scale(0.7);
  }
}
@media (max-width: 800px)
{
  .innerdiv
  {
    transform: scale(0.6);
  }
}
@media (max-width: 600px)
{
  .div1 {
    background-position-x: 10rem;
  }
  .innerdiv
  {
    display: flex; 
    flex-direction: column;
    transform: scale(1);
    margin: 2rem;
    margin-bottom: 5rem;
  }
  .attribution
  {
    position: relative;
  }
  h1, h2 {
    font-size: 1.5rem;
    text-align: center;
}
a {
padding: 10px;
display: inline-block;
}
}
@media (min-width: 767px) {
  body {
      font-size: 14px;
  }

  .h1 {
      width: 100vw;
  }

  p {
      font-size: 0.875rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  body {
      font-size: 16px; 
  }

  h1 {
      font-size: 2rem;
  }

  p {
      font-size: 1rem;
  }
  .outerdiv{
    width: auto;
  }
}
@media (min-width: 1025px) {
  body {
      font-size: 18px; 
  }}    
@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .grund-bild{
    display: hide;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
@media (min-width: 480px) {
  .grund p {
      font-size: 0.875rem;
      line-height: 1.5;
  }
}
@media (min-width: 600px) {
  .innerdiv .eachdiv {
      margin: 0 auto;
  }
}

@media (min-width:375px){
  .grund-bild{
    width: 100px;
    height: 100px;
  }
  .slide-top {
    -webkit-animation: unset;
            animation: unset
              margin-top: 60%;
  }
  .slide-fwd-center {
    -webkit-animation: unset;
            animation: unset;
            margin-top: 60px;
  }
  .gallery {
    height: 10000px;
  }
  .gallery img {
    width: 350px;
  }
  .ende{
    margin-top: 100%;
  }
} 
@media (min-width:425px){
  .grund-bild{
    width: 100px;
    height: 100px;
  }
  .gallerie{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: -1000px;
    margin-left: 5vw;
}
  .gallery img {
    width: 350px;
    
  }
  .slide-top {
    -webkit-animation: unset;
            animation: unset
              margin-top: 60%;
  }
  .slide-fwd-center {
    -webkit-animation: unset;
            animation: unset;
            margin-top: 60px;
  }
} 
@media (min-width:768px){
  .grund-bild{
    width: 200px;
    height: 220px;
    left: auto;
  }
  .slide-top {
    -webkit-animation: unset;
            animation: unset;
            margin-top: 60px;
  }
  .gallerie{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: -1000px;
    margin-left: 5vw;
}
  .slide-fwd-center {
    -webkit-animation: unset;
            animation: unset;
            margin-top: 60px;
  }
  .ende{
    margin-top: 60%;
  }
}
.grund-link{
  text-align: center;
  margin: 20px;
}
.fdsiug{
  font-size: large;
}
@media (min-width:1024px){
  .grund-bild{
    width: 200px;
    height: 220px;
    margin-left: 15vw;
  }
  .slide-top {
    -webkit-animation: unset;
            animation: unset
              margin-top: 60%;
  }
  .slide-fwd-center {
    -webkit-animation: unset;
            animation: unset;
            margin-top: 60px;
  }
} 
@media (min-width:1440px){
  .grund-bild{
    width: 400px;
    height: 420px;
    margin-left: 12vw;
  }  
  .gallerie{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    margin-left: 5vw;
}
  .slide-top {
    -webkit-animation: unset;
            animation: unset
              margin-top: 60%;
  }
  .slide-fwd-center {
    -webkit-animation: unset;
            animation: unset;
            margin-top: 60px;
  }
} 

@media (max-width:320px){
  .grund-bild{
    width: 100px;
    height: 100px;
    margin-left: 10vw;
  }
  .gallery {
    height: 10000px;
  }
  .gallery img {
    width: 50px;
  }
  .slide-top {
    -webkit-animation: unset;
            animation: unset;
              margin-top: 30%;
              font-size: large;
  }
  .slide-fwd-center {
    -webkit-animation: unset;
            animation: unset;
            margin-top: 60px;
  }
  h1{
    font-size: 150%;
  }
  .ende{
    margin-top: 110vw;
  }
}

